.contents{
    overflow:hidden;
}
.item{
    float:left;
    padding:20px 30px;
    text-align:center;
    
}
.pmarusama{  
    width:200px;
    height:200px;
}
.kagami{
    widht:200px;
    height:200px;
}
